.photoIcon {
    opacity:1;
    margin-top: -100; 
}

.photoOverlay {
    display:none;
    border-radius:12; 
    transition: 0.5;
    opacity: 0;
    width:250; 
    grid-column-start: 1; 
    grid-row-start: 1; 
    width:100%; 
    height:100%; 
    justify-content:center; 
    align-items:center;
}

.note:hover .photoOverlay {
    display: flex;
    z-index: 2;
    background: linear-gradient(180deg, rgba(0,0,0,0.8), rgba(0,0,0,0.1), rgba(0,0,0,0.02), rgba(0,0,0,0));
}

.photoOverlay:hover {
    opacity: 1;
    transition: 1s;
}